# Атрибут необхідний для правильної обробки *.tlb файлів
*.tlb working-tree-encoding=CP1251 eol=CRLF

# Атрибут необхідний для правильної обробки *.dsf файлів
*.dsf working-tree-encoding=CP1251 eol=CRLF

# Атрибут необхідний для правильної обробки *.lng файлів
*.lng working-tree-encoding=CP1251 eol=CRL

# Атрибут необхідний для правильної обробки *.mnu файлів
*.mnu working-tree-encoding=CP1251 eol=CRL
